@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 15 23 42;
  --foreground: 248 250 252;
}

body {
  min-height: 100vh;
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
}

a {
  color: inherit;
  text-decoration: none;
}

