@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0 0;
  --foreground: 248 250 252;
}

body {
  min-height: 100vh;
  background-color: #000000;
  color: rgb(var(--foreground));
}

a {
  color: inherit;
  text-decoration: none;
}

